<div class="flex justify-center bg-white h-screen">
    <form class="w-full max-w-4xl mt-5 px-8 pt-6 pb-8 mb-4" [formGroup]="formScheduling">
        <h2 class="text-2xl mb-5">Agendamento do paciente</h2>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <mat-form-field class="w-full">
                    <mat-label>Tipo de Tratamento</mat-label>
                    <input matInput placeholder="Informe o nome" formControlName="treatment_type" />
                </mat-form-field>
            </div>
            <div>
                <input app-input-material required formControlName="date_time" type="datetime-local" />
                <mat-datepicker></mat-datepicker>
            </div>
            <div>
                <mat-form-field class="w-full">
                    <mat-label>Paciente</mat-label>
                    <mat-select formControlName="patient_id">
                        @for (patient of patients; track $index) {
                        <mat-option value="{{ patient.id }}">{{ patient.name }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="w-full">
                    <mat-label>Profissional</mat-label>
                    <mat-select formControlName="dentist_id">
                        @for (dentist of dentists; track $index) {
                        <mat-option value="{{ dentist.id }}">{{ dentist.name }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-span-2">
                <mat-form-field class="w-full">
                    <mat-label>Comentário</mat-label>
                    <textarea matInput placeholder="Insira um comentário" formControlName="comment"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="flex justify-center">
            <button app-material-button class="w-[40%] text-lg" type="button" (click)="saveScheduling()">
                Cadastrar
            </button>
        </div>
    </form>
</div>