<div class="flex flex-col items-center h-screen mt-5">
    <h1>Cadastro de Paciente</h1>
    <form class="w-full max-w-4xl px-8 pt-6 pb-8 mb-4" [formGroup]="formScheduling">
        <div class="grid grid-cols-2 gap-4">
            <mat-form-field class="w-full">
                <mat-label>Tipo de Tratamento</mat-label>
                <input matInput placeholder="Informe o nome" formControlName="treatment_type" />
            </mat-form-field>

            <div>
                <input app-input-material required formControlName="date_time" type="datetime-local" />
                <mat-datepicker></mat-datepicker>
            </div>

            <mat-form-field class="w-full">
                <mat-label>Paciente</mat-label>
                <mat-select formControlName="patient_id">
                    @for (patient of patients; track $index) {
                    <mat-option value="{{ patient.id }}">{{ patient.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Profissional</mat-label>
                <mat-select formControlName="dentist_id">
                    @for (dentist of dentists; track $index) {
                    <mat-option value="{{ dentist.id }}">{{ dentist.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <div class="col-span-2">
                <mat-form-field class="w-full">
                    <mat-label>Comentário</mat-label>
                    <textarea matInput placeholder="Insira um comentário" formControlName="comment"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="flex justify-center">
            <button app-material-button class="w-[40%] text-lg" type="button" (click)="saveScheduling()">
                Cadastrar
            </button>
        </div>
    </form>
</div>