:host {
    border-radius: 10px;
    background-color: #3f51b5;    
    font-weight: 500;
    padding: 9px 15px;
    color: white;
}

:host:hover {
    background-color: #0d70b3;    
    transition: 0.3s ease;
}