<div class="grid grid-cols-2 border h-full">
  <div class="border bg-[#6acfcf] flex items-center">
    <img src="assets/login.svg" alt="">
  </div>

  <div class="flex justify-center items-center border">
    <form class="max-w-md rounded-md p-8" [formGroup]="loginForm">
      <div class="mb-7 text-center">
        <span class="uppercase text-2xl">Odonto <span class="font-extrabold">Connect</span></span>
      </div>

      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email" class="rounded-md">
        <mat-error>Insira um e-mail válido</mat-error>
      </mat-form-field>

      <mat-form-field class="w-full mt-4">
        <mat-label>Password</mat-label>
        <input [type]="passwordFieldType" matInput formControlName="password" class="rounded-md">
        <button class="mr-2" mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ passwordFieldType === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
        <mat-error>O campo senha é <strong>obrigatório</strong></mat-error>
      </mat-form-field>

      <div class="mt-6">
        <button app-material-button type="submit" class="w-full text-lg !pt-3 !pb-3" (click)="login()">Entrar</button>
      </div>
    </form>
  </div>
</div>