<div class="h-screen mt-5 flex flex-col items-center">
    <div class="w-[90%] flex justify-between">
        <h1>Agendamentos</h1>
        <mat-form-field class="w-80">
            <input type="text" matInput placeholder="Pesquisar" name="search" [(ngModel)]="inputValue">
            <button matSuffix mat-button (click)="pesquisar()"><mat-icon>search</mat-icon></button>
        </mat-form-field>
    </div>
    <div class="flex justify-center">
        <div class="grid grid-cols-3 mt-5 gap-5">
            @if (schedulings) {
            @for (scheduling of schedulings.data; track $index) {
            <mat-card class="p-4 w-80 ">
                <div class="absolute right-0 top-0">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openDialogPayment(schedulings)">
                            <mat-icon>attach_money</mat-icon>
                            <span>Efetuar Pagamento</span>
                        </button>

                        <button mat-menu-item (click)="openDialog(scheduling)">
                            <mat-icon>details</mat-icon>
                            <span>Detalhes</span>
                        </button>

                        <button mat-menu-item (click)="cancelScheduling(scheduling.id)">
                            <mat-icon>cancel</mat-icon>
                            <span>Cancelar</span>
                        </button>
                    </mat-menu>
                </div>
                <h2 class="text-xl font-semibold mb-2 text-left">{{ scheduling.patient.name }}</h2>
                <div>
                    <p class="text-gray-600 text-left">Agendado para:&nbsp;&nbsp;{{ scheduling.date_time|
                        date:'dd/MM/yyyy'}}
                    </p>
                    <p class="text-gray-600 text-left">Status:&nbsp;&nbsp;<span
                            [ngClass]="{'text-red-600': scheduling.payment_status !== 'paid', 'text-green-600': scheduling.payment_status === 'paid'}">{{
                            scheduling.payment_status | paymentStatusPipe }}</span>
                    </p>
                </div>
            </mat-card>
            }
            }
        </div>
    </div>
</div>