<app-filter [filterText]="filterText" [filterText]="filterText" (filtrar)="filter()" (limpar)="filterClear()">
    <div class="mt-5 flex gap-5">
        <mat-form-field class="w-full">
            <mat-label>Data Inicial</mat-label>
            <input matInput [matDatepicker]="initialDatepicker" [(ngModel)]="startDate" placeholder="DD/MM/AAAA">
            <mat-datepicker-toggle matSuffix [for]="initialDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #initialDatepicker startView="multi-year"
                (closed)="initialDatepicker.close()"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Data Final</mat-label>
            <input matInput [matDatepicker]="finalDatepicker" [(ngModel)]="endDate" placeholder="DD/MM/AAAA">
            <mat-datepicker-toggle matSuffix [for]="finalDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #finalDatepicker startView="multi-year" (closed)="finalDatepicker.close()"></mat-datepicker>
        </mat-form-field>
    </div>

    <mat-form-field class="w-full">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="status">
            <mat-option value="">Selecione</mat-option>
            <mat-option value="scheduled">Agendado</mat-option>
            <mat-option value="canceled">Cancelado</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
        <mat-label>Status do Pagamento</mat-label>
        <mat-select [(ngModel)]="paymentStatus">
            <mat-option value="">Selecione</mat-option>
            <mat-option value="paid">Pago</mat-option>
            <mat-option value="waiting">Aguardando</mat-option>
        </mat-select>
    </mat-form-field>
</app-filter>